<nav class="navbar navbar-expand-lg navbar-dark bg-github">
    <a class="navbar-brand" href="#">
        <img src="assets/images/retsuko_logo.jpg"
             width="35"
             height="35"
             class="d-inline-block align-middle">
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink=""> Inicio <span classperfilDiv="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="home/projects"> Proyectos</a>
            </li>
            <li class="nav-item" #loginButton>
                <a class="nav-link" routerLink="home/login">Iniciar sesión</a>
            </li>
            <li class="nav-item" #dashboard>
                <a class="nav-link" routerLink="dashboard">Dashboard</a>
            </li>
        </ul>
    
        <ul class="navbar-nav mr-auto" #perfilDiv>
            <li class="nav-item">
                <div class="">
                    <a class="nav-link" routerLink="usuario/perfil"> <img class="align-middle"
                                                                          #imagenPerfil
                                                                          src="assets/images/retsuko_logo.jpg"
                                                                          width="30"
                                                                          height="30"> {{usuario}}</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/" (click)="salir()">Salir</a>
            </li>
        </ul>
    
    
        <form class="form-inline my-2 my-lg-0">
            <input [name]="searchBar" [value]="false" id="searchForm"
                   class="form-control mr-sm-2"
                   type="search"
                   placeholder="Nombre de proyecto"
                   aria-label="Search" [(ngModel)]="buscar" [ngModelOptions]="{standalone: true}">
            <button class="btn btn-outline-success my-2 my-sm-0"
                    [routerLink]="['home/search-projects/', this.buscar]">Buscar proyecto
            </button>
        </form>
    </div>
</nav>

