<div class="row" style="color: #FFF">
    <div class="col-md-4"></div>
    
    <div class="col-sm-12 col-md-4">
        <form #loginForm="ngForm">
            <div class="form">
                <div class="form-group">
                    <label for="nominaInput">Nómina de Empleado</label>
                    <input type="number"
                           class="form-control"
                           id="nominaInput"
                           placeholder="Nomina..."
                           name="Nomina"
                           [(ngModel)]="nomina"
                    >
                    
                    <label for="selectEstatus">Estatus</label>
                    <select class="custom-select"
                            id="selectEstatus"
                            name="estatus"
                            [(ngModel)]="estatus">
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                    
                    <label for="selectGradoEstudios">Grado</label>
                    <select class="custom-select"
                            id="selectGradoEstudios"
                            name="gradoEstudios"
                            [(ngModel)]="grado">
                        <option value="Primaria">Primaria</option>
                        <option value="Secundaria">Secundaria</option>
                        <option value="Bachillerato">Bachillerato</option>
                        <option value="Licenciatura">Licenciatura</option>
                        <option value="Maestria">Maestria</option>
                        <option value="Doctorado">Doctorado</option>
                    </select>
                
                </div>
                <button type="submit" class="btn btn-success btn-block" (click)="actualizarEmpleado()">
                    Actualizar empleado
                </button>
            </div>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
