<br>
<br>
<br>
<br>
<br>
<div class="row" style="color: #FFF">
    <div class="col-md-4"></div>
    
    <div class="col-sm-12 col-md-4">
        <form #loginForm="ngForm">
            <div class="form">
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block" (click)="registrar('Entrada')">
                        Entrada
                    </button>
                    <br>
                </div>
                <button type="submit" class="btn btn-danger btn-block" (click)="registrar('Salida')">
                    Salida
                </button>
            </div>
        </form>
    </div>
</div>
