.bg-github-softdark
{
    background-color: #2B3137;
}

.color-white
{
    color: white;
}

.color-grey
{
    color: darkgrey;
}

#home-background
{
    position: fixed;
    height: 100%;
}

#home-form
{
    width:     100%;
    height:    70%;
    margin:    100px auto;
    top:       50%;
    left:      50%;
    position:  absolute;
    transform: translateX(-50%) translateY(-70%);
    overflow:  auto;
}
