.bg-github-softdark
{
    background-color: #2B3137;
}

.color-white
{
    color: white;
}

.color-grey
{
    color: darkgrey;
}

#home-background
{
    position: fixed;
    height: 100%;
}

#home-form
{
    top:       50%;
    left:      50%;
    position:  fixed;
    transform: translateX(-50% -100%);
    overflow:  auto;
}
