<div class="container-fluid bg-github-softdark" id="home-background">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1 class="color-white">
                Empresa
            </h1>
            <p class="color-grey">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab blanditiis consequuntur corporis culpa
                distinctio dolores ducimus et in laborum, libero minus molestiae, nam obcaecati placeat porro provident
                quibusdam vel?
            </p>
        </div>
    </div>
</div>
