<div class="container-fluid bg-github-softdark" id="home-background" style="overflow: auto">
    <div>
        <h1 class="color-white text-center">
            <br>
            CoolSoft Solutions <br>
        </h1>
        <h3 class="color-white text-center">
            ¿Quiénes somos? <br>
        </h3>
        <p class="color-grey text-center">
            Somos una empresa dedicada al desarrollo de software para empresas,
            nos dedicamos a hacer todo nuestro software gratuito <br> y de código abierto para que tú
            disfrutes de él.<br>
            Recuerde que nuestro software está licenciado bajo la GPL cláusula 2.1
            <br>
        </p>
        
        <div class="row" style="overflow: auto">
            <div class="col-md-5"></div>
            <div class="col-md-2 col-sm-12"> <!-- A estos -->
                <img src="assets/images/Retsuko_Furiosa.png"
                     width="350"
                     height="350"
                     class="d-inline-block align-middle img-fluid center-block">
            </div>
        </div>
        
        <h3 class="color-white text-center">
            <br>
            ¿Tienes un proyecto?
            <br>
            ¡CONTÁCTANOS!
        </h3>
        <p class="color-grey text-center">
            Correo: Projects@coolsoftsolutions.com <br>
            Teléfonos: (+52) 33 1837 4861
        </p>
    </div>
    .<br>:
</div>
